@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

html {
  --color-bg: #2C3740;
  --color-fg: white;
  --color-shaded: #273138;
  --color-accent: #007AD8;
  --color-thing1: #29B4FF;
  --color-thing2: #6CDC5B;
  --color-thing3: #FA4332;
  --color-thing4: #FDD300;
  --color-thing5: #E53872;
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: 'IBM Plex Sans', sans-serif;
}

::selection {
  background-color: var(--color-accent);
}

input {
  background-color: var(--color-shaded);
  color: var(--color-fg);
  border: none;
  border-radius: 6px;
  font-size: 18pt;
  padding: 4pt;
}

#search {
  width: calc(100% - 16px);
}

a {
  transition: 200ms;
  color: var(--color-fg);
}

a:hover {
  color: var(--color-accent);
}

#instructions {
  float: right;
  max-width: 30%;
  padding: 1em;
  background-color: var(--color-shaded);
  border-radius: 12px;
  margin-top: 1em;
}

h1 {
  font-size: 24pt;
  margin-top: 8pt;
  margin-bottom: 8pt;
}

.big {
  display: block;
  font-size: 16pt;
  font-weight: bold;
}

a.big {
  position: relative;
  transition: 300ms;
  text-decoration: none;
  background-color: var(--color-accent);
  padding: 4pt;
  margin-bottom: 8pt;
  text-align: center;
  border-radius: 6px;
}

a.big:hover {
  background-color: var(--color-thing1);
  color: var(--color-fg);
}

a.big:active {
  left: 3px; top: 3px;
}

td a {
	font-weight: normal;
  display: block;
  color: inherit;
}

td a:hover {
  color: var(--color-fg);
}

th, td, li {
  border-radius: 6px;
  background-color: var(--color-shaded);
}

th {
  border: 2px solid white;
  padding: 8px;
}

td, li {
  border: 1px solid var(--cell-color);
  color: var(--cell-color);
  padding: 4px;
}

tr.was_first > td:first-child a::before {
  content: '★';
  float: right;
}

:nth-child(5n+1) { --cell-color: var(--color-thing1); }
:nth-child(5n+2) { --cell-color: var(--color-thing2); }
:nth-child(5n+3) { --cell-color: var(--color-thing3); }
:nth-child(5n+4) { --cell-color: var(--color-thing4); }
:nth-child(5n+5) { --cell-color: var(--color-thing5); }

dialog {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border: none;
  position: fixed;
  left: 0; top: 0;
  width: 100vw; height: 100vh;
  overflow-y: scroll;
}

dialog button.close {
  float: left;
  width: 48px; height: 48px;
  border-radius: 50%;
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-weight: bold;
  border: 1px solid var(--color-accent);
  transition: 100ms;
  font-size: 16pt;
}

dialog button.close:hover {
  border-color: var(--color-fg);
}

dialog button.close:active {
  background-color: var(--color-accent);
}

dialog h1 {
  font-weight: normal;
}

#game_search section {
  border: 1px solid white;
  margin: 1em;
  padding: 1em;
  border-radius: 8px;
  background-color: black;
  vertical-align: top;
}

#game_search h2 {
  margin-top: 0;
  font-size: 14pt;
  font-family: monospace;
}

#game_search h2 a {
	text-decoration: underline;
}

#game_search_thing {
  color: var(--color-thing1);
  font-weight: bold;
}

li {
  display: inline-block;
  box-sizing: border-box;
  margin: 2px;
}

li.highlight {
  font-weight: bold;
  border-width: 2px;
}
